#titleRecipes {
    display: flex;
    background-color: aliceblue;
    color: blueviolet;
    width:auto;
}

.food {
    text-align: center;
    color: brown;
}

.recipes {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: bisque;
    color: brown;
}

.recipes div span {
    background: peachpuff;
    border: 4px solid black;
    flex: 1 1 0%;
  }
.recipes a {
    
}